@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

section {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-cyan);
    position: relative;
}

.card {
    position: absolute;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.card-header {
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    text-align: center;

}
.card-body .img{
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: -50px auto 60px auto;
}

.card-body .img img {
    width: 100%;
    height: auto;
}

.card-body .nameage h4 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.3rem;
    margin-top: -30px;
}

.card-body .nameage span {
    color: var(--Dark-gray);
    font-size: 1.3rem;
    padding-left: 5px;
    font-weight: 400;
}

.card-body .city {
    margin-top: 15px;
}

.card-body .city p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--Dark-gray);
}

.card-footer {
    display: flex;
    border-top: 1px solid hsl(0deg 0% 59% / 23%);
    margin-top: 30px;
    padding: 5px
}

.card-footer .activity {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    text-align: center;
    width: 100%;
}

.card-footer .activity .act h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);

}

.card-footer .activity .act p {
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.top-bg {
    background-image: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 911px;
    width: 100%;
    left: -550px;
    top: -296px;
}

.bottom-bg {
    background-image: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 911px;
    width: 100%;
   right: -550px;
    bottom: -296px;

}